.u-block-61e0-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-61e0-3 {
  position: absolute;
  left: 0;
}

.u-block-61e0-4 {
  position: absolute;
  right: 0;
}

 .u-section-1-1 {
  background-image: url("/images/yaqui.jpg");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 800px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 239px;
  }
}

 .u-section-1-2 {
  background-image: url("/images/image69.png");
  background-position: 50% 50%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 800px;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 239px;
  }
}

 .u-section-1-3 {
  background-image: url("/images/image18.png");
  background-position: 50% 50%;
}

.u-section-1-3 .u-sheet-1 {
  min-height: 800px;
}

@media (max-width: 1199px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 239px;
  }
}

 .u-section-1-4 {
  background-image: url("/images/image72.png");
  background-position: 50% 50%;
}

.u-section-1-4 .u-sheet-1 {
  min-height: 800px;
}

@media (max-width: 1199px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 239px;
  }
}

 .u-section-1-5 {
  background-image: url("/images/image41.png");
  background-position: 50% 50%;
}

.u-section-1-5 .u-sheet-1 {
  min-height: 800px;
}

@media (max-width: 1199px) {
  .u-section-1-5 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-1-5 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-1-5 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-1-5 .u-sheet-1 {
    min-height: 239px;
  }
}

 .u-section-1-6 {
  background-image: url("/images/image31.png");
  background-position: 50% 50%;
}

.u-section-1-6 .u-sheet-1 {
  min-height: 800px;
}

@media (max-width: 1199px) {
  .u-section-1-6 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-1-6 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-1-6 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-1-6 .u-sheet-1 {
    min-height: 239px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 355px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-family: Questrial;
  margin: 35px auto 0;
}

.u-section-2 .u-text-2 {
  font-family: Lexend;
  font-size: 1.125rem;
  font-weight: 400;
  margin: 23px 102px 45px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    font-family: "Bowlby One SC";
  }

  .u-section-2 .u-text-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    font-weight: 700;
    margin-right: 2px;
    margin-left: 2px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}.u-block-50f7-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-50f7-3 {
  position: absolute;
  left: calc(((100% - 1140px) / 2)  + 505px);
  width: 65px;
  height: 65px;
  right: auto;
  bottom: 42px;
  background-image: none;
  padding: 4px;
}

.u-block-50f7-4 {
  position: absolute;
  width: 65px;
  height: 65px;
  left: auto;
  right: calc(((100% - 1140px) / 2)  + 505px);
  bottom: 42px;
  background-image: none;
  padding: 4px;
}

@media (max-width: 1199px) {
  .u-block-50f7-3 {
    left: calc(((100% - 940px) / 2)  + 350px);
    bottom: 17px;
  }

  .u-block-50f7-4 {
    right: calc(((100% - 940px) / 2)  + 340px);
    bottom: 17px;
  }
}

@media (max-width: 991px) {
  .u-block-50f7-3 {
    left: calc(((100% - 720px) / 2)  + 295px);
  }

  .u-block-50f7-4 {
    right: calc(((100% - 720px) / 2)  + 295px);
  }
}

@media (max-width: 767px) {
  .u-block-50f7-3 {
    left: calc(((100% - 540px) / 2)  + 239px);
  }

  .u-block-50f7-4 {
    right: calc(((100% - 540px) / 2)  + 239px);
  }
}

@media (max-width: 575px) {
  .u-block-50f7-3 {
    left: calc(((100% - 340px) / 2)  + 150px);
  }

  .u-block-50f7-4 {
    right: calc(((100% - 340px) / 2)  + 150px);
  }
}

 .u-section-3-1 {
  background-image: url("/images/image3.png");
  background-position: 50% 50%;
}

.u-section-3-1 .u-sheet-1 {
  min-height: 748px;
}

@media (max-width: 991px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 851px;
  }
}

@media (max-width: 767px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 623px;
  }
}

.u-section-3-2 .u-sheet-1 {
  min-height: 748px;
}

.u-section-3-2 .u-text-1 {
  font-size: 1rem;
  font-weight: 700;
  width: 81px;
  margin: 100px auto 0;
}

.u-section-3-2 .u-text-2 {
  font-weight: 700;
  font-size: 3.75rem;
  width: 719px;
  margin: 15px auto 0;
}

.u-section-3-2 .u-text-3 {
  font-family: Lexend;
  font-size: 1.25rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  width: 777px;
  margin: 52px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3-2 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    width: auto;
    margin-right: 689px;
    margin-left: 170px;
  }

  .u-section-3-2 .u-text-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    width: auto;
    margin-right: 370px;
    margin-left: -149px;
  }

  .u-section-3-2 .u-text-3 {
    width: auto;
    margin-top: 7px;
    margin-right: 497px;
    margin-left: -22px;
  }
}

@media (max-width: 991px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 851px;
  }

  .u-section-3-2 .u-text-1 {
    width: 81px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3-2 .u-text-2 {
    margin-top: 49px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-3-2 .u-text-3 {
    width: 465px;
    margin-top: 36px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 540px;
  }

  .u-section-3-2 .u-text-1 {
    margin-top: 18px;
  }

  .u-section-3-2 .u-text-2 {
    font-size: 3rem;
    margin-right: 88px;
    margin-left: -88px;
  }

  .u-section-3-2 .u-text-3 {
    font-size: 1.1111111111111112rem;
    margin-top: 7px;
  }
}

@media (max-width: 575px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 623px;
  }

  .u-section-3-2 .u-text-1 {
    margin-top: 7px;
  }

  .u-section-3-2 .u-text-2 {
    font-size: 2.25rem;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3-2 .u-text-3 {
    width: 340px;
  }
}

 .u-section-3-3 {
  background-image: url("/images/image2.png");
  background-position: 0% 50%;
}

.u-section-3-3 .u-sheet-1 {
  min-height: 748px;
}

@media (max-width: 991px) {
  .u-section-3-3 .u-sheet-1 {
    min-height: 851px;
  }
}

@media (max-width: 767px) {
  .u-section-3-3 .u-sheet-1 {
    min-height: 539px;
  }
}

@media (max-width: 575px) {
  .u-section-3-3 .u-sheet-1 {
    min-height: 623px;
  }
}

.u-section-3-4 .u-sheet-1 {
  min-height: 748px;
}

.u-section-3-4 .u-text-1 {
  font-size: 1rem;
  font-weight: 700;
  width: 81px;
  margin: 98px auto 0;
}

.u-section-3-4 .u-text-2 {
  font-weight: 700;
  font-size: 3.75rem;
  width: 719px;
  margin: 17px auto 0;
}

.u-section-3-4 .u-text-3 {
  font-family: Lexend;
  font-size: 1.25rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 49px 181px 60px 203px;
}

@media (max-width: 1199px) {
  .u-section-3-4 .u-text-3 {
    width: 592px;
    margin-left: 103px;
    margin-right: 81px;
  }
}

@media (max-width: 991px) {
  .u-section-3-4 .u-sheet-1 {
    min-height: 851px;
  }

  .u-section-3-4 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-3-4 .u-text-2 {
    width: auto;
    margin-top: 34px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-3-4 .u-text-3 {
    width: auto;
    margin-top: 34px;
    margin-left: 64px;
    margin-right: 64px;
  }
}

@media (max-width: 767px) {
  .u-section-3-4 .u-text-2 {
    font-size: 3rem;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3-4 .u-text-3 {
    font-size: 1.1111111111111112rem;
    margin-left: 38px;
    margin-right: 38px;
  }
}

@media (max-width: 575px) {
  .u-section-3-4 .u-sheet-1 {
    min-height: 623px;
  }

  .u-section-3-4 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-3-4 .u-text-3 {
    margin: 11px 0 0;
  }
}

 .u-section-3-5 {
  background-image: url("/images/TierradelosYaquis1.png");
  background-position: 50% 50%;
}

.u-section-3-5 .u-sheet-1 {
  min-height: 748px;
}

@media (max-width: 991px) {
  .u-section-3-5 .u-sheet-1 {
    min-height: 851px;
  }
}

@media (max-width: 767px) {
  .u-section-3-5 .u-sheet-1 {
    min-height: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3-5 .u-sheet-1 {
    min-height: 623px;
  }
}

.u-section-3-6 .u-sheet-1 {
  min-height: 748px;
}

.u-section-3-6 .u-text-1 {
  font-size: 1rem;
  font-weight: 700;
  width: 81px;
  margin: 98px auto 0;
}

.u-section-3-6 .u-text-2 {
  font-weight: 700;
  font-size: 3.75rem;
  width: 719px;
  margin: 17px auto 0;
}

.u-section-3-6 .u-text-3 {
  font-family: Lexend;
  font-size: 1.25rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 49px 181px 60px 203px;
}

@media (max-width: 1199px) {
  .u-section-3-6 .u-text-3 {
    width: 592px;
    margin-left: 103px;
    margin-right: 81px;
  }
}

@media (max-width: 991px) {
  .u-section-3-6 .u-sheet-1 {
    min-height: 851px;
  }

  .u-section-3-6 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-3-6 .u-text-2 {
    width: auto;
    margin-top: 34px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-3-6 .u-text-3 {
    width: auto;
    margin-top: 34px;
    margin-left: 64px;
    margin-right: 64px;
  }
}

@media (max-width: 767px) {
  .u-section-3-6 .u-text-2 {
    font-size: 3rem;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3-6 .u-text-3 {
    font-size: 1.1111111111111112rem;
    margin-left: 38px;
    margin-right: 38px;
  }
}

@media (max-width: 575px) {
  .u-section-3-6 .u-sheet-1 {
    min-height: 623px;
  }

  .u-section-3-6 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-3-6 .u-text-3 {
    margin: 11px 0 0;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 720px;
}

.u-section-4 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 12px));
  min-height: 478px;
  grid-auto-columns: calc(25% - 12px);
  --gap: 16px;
}

.u-section-4 .u-image-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('/images/image9.png');
  --radius: 30px;
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 30px 40px;
}

.u-section-4 .u-text-1 {
  margin: 0;
}

.u-section-4 .u-image-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('/images/image10.png');
  --radius: 30px;
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 30px 40px;
}

.u-section-4 .u-text-2 {
  margin: 0;
}

.u-section-4 .u-image-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('/images/image11.png');
  --radius: 30px;
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 30px 40px;
}

.u-section-4 .u-text-3 {
  margin: 0;
}

.u-section-4 .u-image-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('/images/image24.png');
  background-position: 50% 50%;
  --radius: 30px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px 30px 40px;
}

.u-section-4 .u-text-4 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-repeater-1 {
    min-height: 394px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 8px));
    grid-auto-columns: calc(50% - 8px);
    min-height: 1207px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
} .u-section-5 {
  min-height: 789px;
}

.u-section-5 .u-shape-1 {
  height: 342px;
  margin-top: 0;
  margin-bottom: 0;
  --bottom-left-radius: 30px;
  --bottom-right-radius: 30px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1140px;
  margin: -253px auto 37px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 693px;
  --radius: 50px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-form-1 {
  height: 603px;
  margin: 0 36px 0 0;
}

.u-section-5 .u-text-1 {
  margin-left: 0;
}

.u-section-5 .u-form-group-4 {
  margin-left: 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  font-weight: 400;
  text-transform: none;
  font-size: 1rem;
  padding: 0;
}

.u-section-5 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  width: 100%;
  padding: 16px 0 17px;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 676px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 571px;
  }

  .u-section-5 .u-form-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 547px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 849px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 625px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-5 .u-container-layout-1 {
    padding: 25px;
  }
}